# Ollama Settings
# AI_PROVIDER=ollama
# OLLAMA_API_URL=http://host.docker.internal:11434/api/chat
# AI_MODEL=qwen2.5-coder:14b

# Bedrock Settings
# AI_PROVIDER=bedrock
# BEDROCK_MODEL=amazon.nova-pro-v1:0
# AWS_REGION=us-east-1
# BEDROCK_API_KEY=

# Grok Settings
# AI_PROVIDER=grok
# GROK_MODEL=grok-3
# GROK_API_KEY=
# GROK_API_URL=https://api.x.ai/v1/chat/completions